{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": [
      "warn",
      "always"
    ],
    "no-console": "off",
    "no-unused-vars": "warn",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "function-paren-newline": "off",
    "indent": "off",
    "implicit-arrow-linebreak": "off",
    "import/first": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/stories/**/*.js",
          "**/*test.js",
          "**/*stories.js",
          "src/setupTests.js"
        ]
      }
    ],
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "object-curly-newline": "off",
    "padded-blocks": "off",
    "quotes": [
      "warn",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "template-tag-spacing": "off"
  }
}